/* Ensure the body doesn't allow horizontal overflow */
body {
  overflow-x: hidden;
}

/* Set a max-width for the contact container */
.contactContainer {
  position: relative;
  max-width: 100vw;
  /* Ensures the container doesn't exceed the viewport width */
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 200px;
}

.contactFirst {
  width: 500px;
  margin-left: 170px;
  margin-top: 50px;
  font-size: 18px;
  font-weight: 500;
  color: #191919;
}

.contactFirst p {
  margin-top: 3px;
}

.contactList {
  display: flex;
}

.contactList p:last-child {
  flex: 2;
  margin-left: 65px;
}

.contactMid {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 170px;
  font-size: 45px;
  font-weight: 700;
  margin-top: 30px;
}

.contactMidContent {
  position: relative;
  z-index: 1;
}

.contactMidimg {
  position: relative;
  /* Changed from absolute to relative */
  width: 100%;
  height: 100%;
  z-index: 0;
}

.contactMidimg img {
  height: 420px;
  margin-top: -100px;
  margin-left: 340px;
}

.contactFoot {
  position: fixed;
  margin-left: 170px;
  bottom: 0;
  width: 100%;
  background-color: #ffffff00;
  display: flex;
  justify-content: flex-start;
  font-size: 17px;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
  color: #333333;
}

.contactFootR {
  margin-bottom: -12px;
}

/* Ensure all images and links do not exceed the viewport */
img,
a {
  max-width: 100%;
  display: block;
}