.navbar {
  background-color: #191919;
  color: #8c8c8c;
  padding: 10px 20px;
  height: 35px;
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: space-between;
}
.logo {
  margin-left: 50px;
}
.logo img {
  height: 20px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  display: flex;
}

.navbar a {
  color: #8c8c8c;
  text-decoration: none;
}
.right-it {
  margin-right: 50px;
}
.navbar a.active {
  color: #ffffff;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .navbar {
    font-size: 13px;
    height: auto;
    padding: 15px;
    align-items: center;
  }

  .logo {
    margin-left: 10px;
  }
  .logo img {
    height: 18px;
  }

  .right-it {
    margin-right: 10px;
  }
  .navbar ul {
    gap: 10px;
  }
}
