.project-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.work-container {
  
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.workelement{
  margin-bottom: 40px;
  margin-top: 40px;
 
}
.project-name {
  font-weight: 700;
  font-size: 40px;
  color: #333333;
}
.project-detail {
  margin-top: -20px;
  font-weight: 400;
  font-size: 14px;
  color: #888888;
  display: flex;
  flex-direction: column;
}

.project-detail span {
  margin-top: 1px;
}

.View-Project a {
  text-decoration: none;
  font-size: 12px;
  color: white;
}
.View-Project {
  width: 110px;
  text-align: center;
  font-family: "Inter", sans-serif;
  height: 30px;
  background-color: #191919;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 12px;
  color: white;
}

.View-Project-btn {
  margin-top: 20px;
}
.View-Projects a {
  text-decoration: none;
  font-size: 12px;
  color: white;
}
.View-Projects {
  width: 125px;
  text-align: center;
  font-family: "Inter", sans-serif;
  height: 30px;
  background-color: #191919;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 12px;
  color: white;
}

.View-Projects-btn {
  margin-top: 20px;
}
.project-img img {
  height: 350px;
}
@media screen and (max-width: 768px) {
  .project-container {
    flex-direction: column;
    align-items: center;
  }
  .work-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project-overview {
    order: 2;
  }
  .uicomp {
    margin-bottom: 15px;
  }
  .project-name,
  .project-detail,
  .View-Project-btn {
    margin-top: 10px;
  }
  .project-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .work-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .project-img img {
    height: auto;
    margin-top: 50px;
    max-width: 100%;
  }
  .project-detail {
    font-size: 13px;
  }
}
