body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}

.hello {
    font-size: 58px;
    font-weight: 900;
    color: #191919;
}

.neeraj {
    margin-top: -55px;
    font-size: 58px;
    color: #191919;
    font-weight: 900;
}

.hr-line {
    width: 300px;
    transform: rotate(90deg);
    margin-top: 170px;
    border: 1px solid #191919;
    margin-bottom: 185px;
}

.designer {
    margin-top: -44px;
    color: #8C8C8C;
    font-weight: 500;
    font-size: 18px;
}

.continue {
    width: 150px;
    font-family: "Inter", sans-serif;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    background-color: #191919;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    color: white;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .hello {
        font-size: 40px;
    }

    .neeraj {
        font-size: 40px;
    }

    .designer {
        font-size: 16px;
    }
    

    .hr-line {
        margin-top: 100px;
        margin-bottom: 105px;
    }
}

@media screen and (max-width: 480px) {
    .hello {
        font-size: 30px;
    }

    .neeraj {
        font-size: 30px;
    }

    .designer {
        font-size: 14px;
    }

    .hr-line {
        margin-top: 70px;
        margin-bottom: 75px;
    }
}