@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.line {
    width: 2px;
    /* Width of the line */
    background-color: #191919;
    margin-top: calc(20px + 10px + 30px);
    /* Margin from herotext, visualtext, and button */
    margin-bottom: 50px;
    margin-top: 15px;
    
    flex: 1;
    
}

.herotext {
    margin-top: 20px;
    font-size: 58px;
    font-weight: 900;
    color: #191919;
    text-align: center;
}

.herotext span {
    display: block;
}

.visualtext {
    margin-top: 10px;
    margin-bottom: 30px;
    /* Margin from line */
    color: #8C8C8C;
    font-weight: 500;
    font-size: 18px;
}

.button {
    margin-top: auto;
    /* Stick button to bottom */
}

.continue {
    width: 150px;
    font-family: "Inter", sans-serif;
    margin-bottom: 30px;
    /* Margin from line */
    height: 35px;
    background-color: #191919;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    color: white;
}

@media only screen and (max-width: 768px) {
    .herotext {
        font-size: 36px;
        /* Decrease font size for smaller screens */
    }

    .visualtext {
        font-size: 16px;
        /* Decrease font size for smaller screens */
    }

    .continue {
        width: 120px;
        /* Decrease button width for smaller screens */
        height: 30px;
        /* Decrease button height for smaller screens */
    }

    .line {
        margin-top: 15px;
        /* Adjust margin for smaller screens */
        margin-bottom: 30px;
        /* Adjust margin for smaller screens */
    }
}