/* About.css */
.navbar {
    background-color: #191919;
    color: #8C8C8C;
    padding: 10px 20px;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
}
.logo{
    margin-left: 60px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: #8C8C8C;
    text-decoration: none;
}

.navbar a.active {
    color: #ffffff;
    /* Change color of active link */
}