/* General Container Styles */
.project1-container,
.project3-container,
.project4-container,
.project42-container,
.project5-container {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}

.project1-container img,
.project3-container img,
.project4-container img,
.project42-container img,
.project5-container img,
.project3-container video,
.project4-container video {
    width: 100%;
    height: auto;
    display: block;
}

/* Scrolling and Prototype Styles */
.proj1-scrolling {
    display: flex;
    overflow-x: auto;
}

.scrollingimg {
    width: auto;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .scrollingimg {
        height: 250px;
    }

    .prototype iframe,
    .prototype {
        display: none;
    }

    .project1Text-container,
    .animationFrame {
        display: none;
    }

    .project42-container {
        display: block;
    }

    .project42-container img {
        display: block;
    }
}

/* Prototype Specific Styles */
.prototype {
    background-color: #232323;
    text-align: center;
    justify-content: center;
    display: flex;
}

.prototype iframe {
    width: 100%;
    height: 700px;
}

/* Project Text Container Styles */
.project1Text-container {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}

.project1Text-container img {
    width: 100%;
    height: auto;
    display: block;
}

/* Upper Section Styles */
.upper {
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.upperTitle {
    display: flex;
    flex-direction: column;
}

.upperTitle p {
    color: #333333;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.upperTitle span {
    color: #333333;
    font-size: 15px;
}

.upperFigma {
    background-color: white;
}

.upperFigma iframe {
    width: 600px;
    height: 600px;
}

/* Project 42 Container Styles */
.project42-container {
    display: none;
}

@media screen and (max-width: 768px) {
    .project42-container {
        display: block;
    }
}