.scrollToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #19191975;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.scrollToTop:hover {
    background-color: #191919;
    transform: scale(1.1);
}

/* General Container Styles for Projects 1-5 */
.project1-container,
.project2-container,
.project3-container,
.project4-container,
.project5-container {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}

.project1-container img,
.project2-container img,
.project3-container img,
.project4-container img,
.project5-container img,
.project1-container video,
.project2-container video,
.project3-container video,
.project4-container video,
.project5-container video {
    width: 100%;
    height: auto;
    display: block;
    transition: filter 0.5s ease, opacity 0.5s ease;
}

/* Loading and Loaded States for Project Images */
.project1-container img.loading,
.project2-container img.loading,
.project3-container img.loading,
.project4-container img.loading,
.project5-container img.loading,
.project1Text-container img.loading,
.project2Text-container img.loading,
.project3Text-container img.loading,
.project4Text-container img.loading,
.project5Text-container img.loading {
    filter: blur(5px);
    opacity: 0.5;
}

.project1-container img.loaded,
.project2-container img.loaded,
.project3-container img.loaded,
.project4-container img.loaded,
.project5-container img.loaded,
.project1Text-container img.loaded,
.project2Text-container img.loaded,
.project3Text-container img.loaded,
.project4Text-container img.loaded,
.project5Text-container img.loaded {
    filter: blur(0);
    opacity: 1;
}

/* Scrolling and Prototype Styles */
.proj1-scrolling,
.proj2-scrolling,
.proj3-scrolling,
.proj4-scrolling,
.proj5-scrolling {
    display: flex;
    overflow-x: auto;
}

.scrollingimg {
    width: auto;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .scrollingimg {
        height: 250px;
    }

    .prototype iframe,
    .prototype {
        display: none;
    }

    .project1Text-container,
    .project2Text-container,
    .project3Text-container,
    .project4Text-container,
    .project5Text-container,
    .animationFrame {
        display: none;
    }

    .project42-container {
        display: block;
    }

    .project42-container img {
        display: block;
    }
}

/* Prototype Specific Styles */
.prototype {
    background-color: #232323;
    text-align: center;
    justify-content: center;
    display: flex;
}

.prototype iframe {
    width: 100%;
    height: 700px;
}

/* Project Text Container Styles */
.project1Text-container,
.project2Text-container,
.project3Text-container,
.project4Text-container,
.project5Text-container {
    width: 100%;
    margin-top: -10px;
    max-width: 100vw;
    overflow: hidden;
}

.project1Text-container img,
.project2Text-container img,
.project3Text-container img,
.project4Text-container img,
.project5Text-container img {
    width: 100%;
    height: auto;
    display: block;
}

/* Upper Section Styles */
.upper {
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.upperTitle {
    display: flex;
    flex-direction: column;
}

.upperTitle p {
    color: #333333;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.upperTitle span {
    color: #333333;
    font-size: 15px;
}

.upperFigma {
    background-color: white;
}

.upperFigma iframe {
    width: 600px;
    height: 600px;
}

/* Project 42 Container Styles */
.project42-container {
    display: none;
}
.blur {
    filter: blur(10px);
    transition: filter 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
    .project42-container {
        display: block;
        width: 100%;
            max-width: 100vw;
            overflow: hidden;
    }
    .project42-container img{
        width: 100%;
            height: auto;
            display: block;
            transition: filter 0.5s ease, opacity 0.5s ease;
    }
        .project42-container img.loading{
            filter: blur(5px);
            opacity: 0.5;
        }
    
        .project42-container img.loaded{
            filter: blur(0);
            opacity: 1;
        }
}

/* Footer Strip Styles */
.footerStrip {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    font-weight: 500;
    color: #333333;
}

.footerStrip p {
    margin-left: 50px;
    margin-right: 50px;
}

@media screen and (max-width: 768px) {
    .footerStrip {
        display: none;
    }
}